@import "tailwindcss";

@font-face {
  font-family: "Moonrising";
  src: url("/assets/fonts/moonrising/Moonrising.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Getboreg";
  src: url("/assets/fonts/getboreg/GetboregTrialOnly-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@theme{
  --font-Moonrising: "Moonrising", sans-serif;
  --font-Getboreg: "Getboreg", sans-serif;
  --font-Poppins: "Poppins", sans-serif;
}

.starterDiv{
  @apply min-h-[100dvh] flex items-center justify-center;
}

.mainDiv{
  @apply min-h-[100dvh] w-full overflow-x-hidden;
}
